name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2.2.0
    - name: Build
      run: |
          chmod +x ./gradlew
          chmod +x ./curse_upload
          ./gradlew build
          ./curse_upload
    - uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: build/libs/
